body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**HEADER**/
.header {
  background-image: linear-gradient(to right, dodgerblue, lightblue);
  padding: 2em;
  text-align: left;
  margin-bottom: 2em;
}

.header h1 {
  font-weight: bold;
}

.header button {
  position: absolute;
  left: 93%;
  top: 2.5em;
}

.landingPageInfo {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.signedOutHome {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.signedOutHome button {
  margin-left: 1em;
  margin-right: 1em;
}

/**APPLICATION TRACKER**/
.applicationTracker {
  margin-left: 2em;
  margin-right: 2em;
}

.applicationTracker h2 {
  text-align: left;
}

/**APPLICATION**/
.application {
  position: relative;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
  overflow: auto;
}

.application > * {
  margin-left: 2em;
  margin-right: 2em;
}

.application span {
  align-self: flex-start;
}

.application .left {
  width: 48%;
  overflow-wrap: break-word;
}

.application .right {
  position: absolute;
  left: 50%;
  width: 45%;
  overflow-wrap: break-word;
}

.application .deleteApplication {
  margin-right: 1em;
  margin-top: 1em;
}

.deleteApplication {
  position: absolute;
  right: 0;
  top: 0;
}

.application .editApplication {
  margin-right: 1em;
  margin-bottom: 1em;
}

.editApplication {
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  background-color: black;
}

.editApplication:hover {
  background-color: #333333;
}
